[submodule "QuickLook.Common"]
	path = QuickLook.Common
	url = https://github.com/QL-Win/QuickLook.Common.git
[submodule "external/rhwp"]
	path = external/rhwp
	url = https://github.com/edwardkim/rhwp.git
